li a {
  color: rgb(222, 239, 231);
  font-size: 20px;
}
body {
  background: white url("image/background.png") no-repeat;
  background-size: cover;
}
h1 {
  color: rgb(222, 239, 231);
  font-size: 48px;
}
li {
  color: rgb(222, 239, 231);
  padding: 5px;
  font-size: 24px;
}
a {
  color: rgb(46, 171, 112);
  font-size: 24px;
}p
p {
  color: rgb(222, 239, 231);
}
label {
  color: rgb(222, 239, 231);
  font-size: 24px;
}
